## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/asaleh/Desktop/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,0,Rikitea,PF,78.67,-23.1203,-134.9692,few clouds,Pension Maro'i
1,3,Carnarvon,AU,75.20,-24.8667,113.6333,light rain,Hospitality Carnarvon
2,7,Avarua,CK,78.80,-21.2078,-159.7750,overcast clouds,Paradise Inn
3,8,Atar,MR,72.63,20.5169,-13.0499,broken clouds,Oumou Elghoura
4,17,Pinotepa Nacional,MX,71.89,16.3167,-98.0167,clear sky,Hotel Maria Del Carmen

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations.head(200)

         Lat       Lng
0   -23.1203 -134.9692
1   -24.8667  113.6333
2   -21.2078 -159.7750
3    20.5169  -13.0499
4    16.3167  -98.0167
..       ...       ...
195  30.4058  -86.6188
196 -18.5067  -54.7600
197 -20.0064   57.6608
198 -25.2986  152.8535
199  -5.1989  -35.4608

[200 rows x 2 columns]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Hervey Bay") & (vacation_df["Country"] == "AU")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Hervey Bay") & (vacation_df["Country"] == "AU")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Alice Springs") & (vacation_df["Country"] == "AU")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Yulara") & (vacation_df["Country"] == "AU")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Carnarvon") & (vacation_df["Country"] == "AU")]

In [19]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][4],vacation_start.to_numpy()[0][5]
end = vacation_end.to_numpy()[0][4],vacation_end.to_numpy()[0][5]
stop1 = vacation_stop1.to_numpy()[0][4],vacation_stop1.to_numpy()[0][5]
stop2 = vacation_stop2.to_numpy()[0][4],vacation_stop2.to_numpy()[0][5]
stop3 = vacation_stop3.to_numpy()[0][4],vacation_stop3.to_numpy()[0][5]
stop3

(-24.8667, 113.6333)

In [25]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direc_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2, stop3], travel_mode = 'BICYCLING')
fig = gmaps.figure()
fig.add_layer(direc_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
df = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
itinerary_df = pd.concat(df,ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,645,Hervey Bay,AU,89.6,-25.2986,152.8535,scattered clouds,Shelly Bay Resort
1,116,Alice Springs,AU,77.0,-23.7000,133.8833,scattered clouds,Desert Palms Alice Springs
2,600,Yulara,AU,77.0,-25.2406,130.9889,clear sky,Desert Gardens Hotel - Ayers Rock Resort
3,3,Carnarvon,AU,75.2,-24.8667,113.6333,light rain,Hospitality Carnarvon

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 90), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))